@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.builder-content-container,
.home-container {
  width: 650px;
  margin: auto;
}

@media (max-width: 650px) {
  .builder-content-container,
  .home-container {
    width: 100% !important;
    min-width: inherit;
  }
}

.container-preview-canvas {
  background-color: #eef2ff;
}

.m {
  margin-top: 0;
}
